* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: chillCafe;
  src: url('./fonts/sunny-brush.regular.ttf');
}

body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  transition: 0.5s ease-in-out;
}


.topbar,
.sidebar,
.filters,
main,
.footer {
    position: absolute;
}

.topbar ul,
.sidebar ul,
.filters ul,
.footer ul {
    display: flex;
    gap: 1rem;
}

.topbar ul li,
.sidebar ul li,
.filters ul li,
.footer ul li {
    list-style-type: none;
    font-size: 24px;
}

.topbar ul li a,
.sidebar ul li a,
.filters ul li a,
.footer ul li a,
.item {
    text-decoration: none;
    color: white;
}

.sidebar,
.filters {
    height: 80%;
    width: 10%;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.topbar,
.footer {
    width: 100%;
    height: 10%;
}

.topbar {
    border: solid 1px black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3rem;
}

.logo {
    color: white;
    font-size: 30px;
}

.sidebar {
    border: solid 1px black;
    display: flex;
    align-items: center;
}

.sidebar ul,
.filters ul {
    flex-direction: column;
}

.sidebar ul li {
    border: solid 1px black;
    text-align: center;
    padding: 1rem;
}

.filters {
    border: solid 1px blue;
    height: 80%;
    width: 10%;

    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filters ul li {
    font-size: 20px;
    border: solid 1px blue;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: salmon;
}


main {
    width: 80%;
    height: 80%;
    border: solid 2px red;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main h1 {
    font-family: chillCafe;
    font-size: 100px;
    color: white;
    letter-spacing: 0.3rem;
    word-spacing: 3rem;
}

.footer {
    border: solid 1px greenyellow;

    display: flex;
    justify-content: center;
    align-items: center;
    
    bottom: 0;
}

.catalogue {
    border: solid 1px orange;
    width: 100%;
    height: 100%;

    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.catalogue h2 {
    grid-area: right;
    color: white;
    font-size: 50px;
}

.item {
    border: solid 1px purple;
    border-radius: 15px;
    height: 20rem;
    width: 15rem;
    background-position: center;
    background-size: cover;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.025);
}

.item-details {
    border: solid 1px gold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}


.login-register,
.edit,
.add {
    width: 25rem;
    height: 30rem;
    border: 1px solid green;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    color: white;
    backdrop-filter: blur(10px);
}

.login-register h2,
.edit h2,
.add h2 {
    font-size: 60px;
    padding-bottom: 0.5rem;
}

.login-register .line {
    width: 50%;
    border-bottom: solid 1px white;
    margin: 0 auto;
}

.edit input,
.add input,
.login-register input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px white;

    text-align: center;
    font-size: large;

    color: white;
}

.edit button,
.edit input,
.add button,
.add input,
.login-register button,
.login-register input {
    width: 70%;
    height: 3rem;
}

.login-register button,
.edit .buttons button,
.add .buttons button {
    background-color: #1C3879;
    color: white;
    font-size: large;
    border: none;
}

.login-register p a {
    color: #3FA796;
}


::placeholder {
    text-align: center;
    color: white;
}

.edit input:focus,
.add input:focus,
.login-register input:focus {
    outline: none;
}

.login-register input:focus::placeholder,
.add input:focus::placeholder {
    color: transparent;
}

.details {
    width: 70%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    border: 1px solid blanchedalmond;
    backdrop-filter: blur(10px);
}

.login-register,
.login-register button,
.edit,
.add,
.details,
.details img { border-radius: 15px;}

.details img {
    height: 35rem;
    width: 30rem;
    object-fit: cover;
}

.details .info {
    border: 1px solid gold;
    height: inherit;
    width: 25rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    text-align: center;
    color: white;

}

.details .info h1 {
    letter-spacing: 0;
    font-size: 45px;
}

.details .info h3,
.details .info h2 {
    padding-top: 1rem;
}
.details .info .buttons button:first-of-type {
    background-color: #1C3879;
}

.details .info .buttons button:last-of-type {
    background-color: #A10035;
}

.topbar .buttons button {
    background-color: #3FA796;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 1rem;
}

.buttons button {
    width: 5.5rem;
    height: 2rem;
    color: white;
    font-size: medium;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #3B9AE1;
    cursor: pointer;
}

.edit,
.add {
    width: 70%;
    height: 85%;
}

.details .info .buttons,
.edit .buttons {
    flex-direction: row;

}

.edit .buttons button:last-of-type {
    background-color: #A10035;
}

.add .buttons button:last-of-type {
    background-color: #3FA796;
}

.add label,
.add select  {
    font-size: 22px;
}

.add select {
    border-radius: 15px;
    width: 7rem;
    text-align: center;
}
