.topbar {
    position: absolute;

    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
}

.topbar ul {
    display: flex;
    gap: 1rem;
}

.topbar ul li {
    list-style-type: none;
    font-size: 24px;
}

.topbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.buttons button {
    width: 5.5rem;
    height: 2rem;
    color: white;
    font-size: medium;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    background-color: #3FA796;
}

.logo {
    color: white;
    font-size: 30px;
}