.reservation {
    width: 35rem;
    height: 35rem;
    border: 1px solid green;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    color: white;
    backdrop-filter: blur(10px);
}

.reservation h2 {
    font-size: 60px;
    padding-bottom: 0.5rem;
}

.reservation a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.reservation a, 
.reservation h2 {
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.reservation label {
    color: black;
    font-size: 30px;
    border-bottom: solid 2px black;
}

.reservation input {
    background-color: transparent;
    border: none;

    text-align: center;
    font-size: 25px;
}

.reservation input:focus {
    outline: none;
}

.reservation .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.reservation .buttons button {
    width: 5.5rem;
    height: 2rem;
    color: white;
    font-size: medium;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.reservation .buttons button:first-of-type {
    background-color: #3B9AE1;
}

.reservation .buttons button:last-of-type {
    background-color: red;
}
